# for updates and superuser setup, please use:
 # docker-compose run python migrate
# docker-compose run

version: "3.4"
services:

  mqtt:
    ports:
      - "127.0.0.1:8082:80" # with nginx SSL reverse proxy

  db:
    ports:
      - "127.0.0.1:5432:5432"

  python:
    ports: [ ]
    # - "127.0.0.1:8000:8000"
    environment:
      ACTIVATE_DEBUG_MODE:

  opa:
    ports:
      - "127.0.0.1:8181:8181"

  nginx:
    ports:
      - "127.0.0.1:80:80"
