# for updates and superuser setup, please use:
# docker-compose run python migrate
# docker-compose run

version: "3.4"
services:

  mqtt:
    image: eclipse-mosquitto
    volumes:
      - door-commander-mosquitto-log:/mosquitto/log
      - door-commander-mosquitto-data:/mosquitto/data
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./mosquitto/config/mosquitto.acl:/mosquitto/config/mosquitto.acl:ro
      - ./mosquitto/config/mosquitto.passwd:/mosquitto/config/mosquitto.passwd
    networks:
      - web
      - mqtt
      - inventory_management
    ports:
      - "127.0.0.1:8082:80" # with nginx SSL reverse proxy
    restart: unless-stopped

  db:
    #image: postgres
    build:
      context: ./postgres
      dockerfile: postgres.dockerfile
      args:
        POSTGRES_VERSION: 13
        #POSTGRES_VERSION: latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD
      - POSTGRES_DB=db
    restart: unless-stopped
    volumes:
      - door-commander-postgres:/var/lib/postgresql/data
    #ports:
    #  - "127.0.0.1:5432:5432"
    networks:
      - db


  python:
    depends_on:
      - db
      - redis
    environment:
      &python-environment
      OPA_BEARER_TOKEN: '${OPA_BEARER_TOKEN}'
      OPA_URL: "http://opa:8181/"
      OIDC_RP_CLIENT_ID:
      OIDC_RP_CLIENT_SECRET:
      OIDC_OP_LOGOUT_URL:
      OIDC_OP_USER_ENDPOINT:
      OIDC_OP_AUTHORIZATION_ENDPOINT:
      OIDC_OP_TOKEN_ENDPOINT:
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD_DJANGO}'
      POSTGRES_USER: '${POSTGRES_USER_DJANGO}'
      POSTGRES_DB: '${POSTGRES_DB_DJANGO}'
      MQTT_PASSWD_CONTROLLER:
      MQTT_CONNECTION: '{"host":"mqtt", "port":1883, "keepalive":10}'
      DJANGO_LOGGING:
        # language=json
        '
        {
          "version": 1,
          "disable_existing_loggers": false,
          "formatters": { "verbose": { "format": "%(levelname)s %(asctime)s %(name)s %(process)d %(thread)d %(message)s" } },
          "handlers": {
            "console": {
              "class": "logging.StreamHandler",
              "formatter": "verbose"
            }
          },
          "root": {
            "handlers": [
              "console"
            ],
            "level": "INFO"
          },
          "loggers": {
            "django": {
              "handlers": [
                "console"
              ],
              "level": "WARN",
              "propagate": false
            },
            "web_homepage.views": {"level":"WARN"},
            "ipware.ip": {"level":"ERROR"}
          }
        }
        '
    build:
      &python-build
      context: ""
      dockerfile: Dockerfile
      target: python-web
      args:
        PYTHON_VERSION: "3.10"
    #image: python_image
    volumes:
      - "door-commander-python-data:/opt/door-commander.betreiberverein.de/data"
    networks:
      - db
      - opa
      - web
      - mqtt
    ports: []
      # - "127.0.0.1:8000:8000"
    restart: unless-stopped

  celery-beat:
    build: *python-build
    #image: python_image
    command: celery -A door_commander beat -l info -s /opt/door-commander.betreiberverein.de/data/celerybeat-schedule
    volumes:
      - "celery-beat-schedule:/opt/door-commander.betreiberverein.de/data"
    environment: *python-environment
    depends_on:
      - redis
      - db
    networks:
      - db
      - opa

  opa:
    # TODO =basic
    command: run --server --addr :8181 --authentication=token --authorization=basic -c /data/config.yaml /data/policy
    environment:
      OPA_BEARER_TOKEN: '${OPA_BEARER_TOKEN}'
    image: "openpolicyagent/opa:0.70.0"
    networks:
      - opa
    ports: []
      #- "127.0.0.1:8181:8181"
    volumes:
      - ./opa/:/data/:ro
      - opa-persistence:/var/opa/


  nginx:
    build:
      context: ""
      dockerfile: Dockerfile
      target: nginx
      args:
        PYTHON_VERSION: "3.10"
        NGINX_VERSION: 1-alpine
    depends_on:
      - python
    networks:
      - web
    restart: unless-stopped

  redis:
    # this redis has no authentication.
    # NEVER EXPOSE ITS PORTS
    image: redis:alpine
    networks:
      - db


  celery:
    command: celery -A door_commander worker -l info
    build: *python-build
    #image: python_image
    volumes: []
    environment: *python-environment
    depends_on:
      - redis
      - db
    networks:
      - db
      - mqtt


networks:
  mqtt: # mosquitto <--> django
  db: # psql <--> django
  web: # nginx <--> django
    #external:
    #  name: nginx_door_commander_external
  inventory_management:
    #external:
    #  name: nginx_inventory_management_external
  opa: #

volumes:
  door-commander-python-data:
  door-commander-postgres:
  door-commander-mosquitto-data:
  door-commander-mosquitto-log:
  celery-beat-schedule:
  opa-persistence:
