[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-csp = "*"
django-fontawesome-5 = "*"
gunicorn = "*"
jinja2 = "*"
psycopg2-binary = "*"
pymaybe = "*"
django-ipware = {editable = true, git = "https://github.com/phi1010/django-ipware.git"}
pylint = "*"
paho-mqtt = "*"
icecream = "*"
pytest = "*"
uuid = "*"
mozilla-django-oidc = "*"
django-extensions = "*"
decorated-paho-mqtt = "*"
graphene-django = "*"
celery = "*"
redis = "*"
lazy-object-proxy = "*"
django-fernet-encrypted-fields = "*"
ldap3 = "*"

[dev-packages]
selenium = "*"
pylint = "*"
rich = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3"
